### Entornos virtuales ###
venv/
.venv/
env/
.env/

### Python ###
# Bytecode y caché
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Archivos generados
*.py,cover
*.cover
*.egg-info/
*.egg
*.manifest
*.spec
.pytest_cache/

### Bases de datos ###
*.sqlite3
*.db

### Logs y debug ###
*.log
logs/
.pip/

### Entornos de desarrollo ###
.idea/
*.iml
.vscode/
*.swp
*.swo

### Configuración y secretos ###
.env
.env.local
.env.dev
.env.prod
.env.staging
secrets.json

### Archivos estáticos y media ###
staticfiles/
media/

### Sistemas operativos ###
.DS_Store
Thumbs.db
[Dd]esktop.ini
.Trash-*
.nfs*

### Documentación ###
docs/_build/
htmlcov/
.coverage

### Jupyter ###
.ipynb_checkpoints/

### Paquetes y builds ###
dist/
build/

### Celery ###
celerybeat-schedule.*
celerybeat.pid

### Node (si usas frontend) ###
node_modules/