{% extends 'base.html' %}
{% block content %}
<div class="contenido">
  <div class="login-wrapper">
    <div class="login-form">
      <h2 style="color:#4fa7ff;">Correo Enviado</h2>
      <p style="color:#fff;">Si el correo está registrado, recibirás un enlace para restablecer tu contraseña. Revisa tu bandeja de entrada y spam.</p>
      <div style="text-align:center; margin-top:15px;">
        <a href="{% url 'login' %}" style="color:#4fa7ff;">Volver al inicio de sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
