{% extends 'base.html' %}
{% block content %}
<div class="contenido">
  <div class="login-wrapper">
    <form class="login-form" method="post">
      {% csrf_token %}
      <h2 style="color:#4fa7ff;">Nueva Contraseña</h2>
      <p style="color:#fff; margin-bottom:18px;">Ingresa tu nueva contraseña dos veces para verificar que la escribiste correctamente.</p>
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      <button type="submit" class="glowing-btn" style="margin-top:18px;">Restablecer Contraseña</button>
    </form>
  </div>
</div>
{% endblock %}
