{% extends 'base.html' %}
{% block content %}
<div class="contenido">
  <div class="login-wrapper">
    <div class="login-form">
      <h2 style="color:#4fa7ff;">Contraseña Restablecida</h2>
      <p style="color:#fff;">Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
      <div style="text-align:center; margin-top:15px;">
        <a href="{% url 'login' %}" style="color:#4fa7ff;">Ir al inicio de sesión</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
